<div id="<%= dom_id(movie) %>_duration">
  <%= link_to movie_edit_duration_path(movie), remote: true do %>
    <% if movie.duration.present? %>
      <%= movie.duration %> minutes
    <% else %>
      Add duration
    <% end %>
  <% end %>
</div>    
