<div id="<%= dom_id(movie) %>_year">
  <%= link_to movie_edit_year_path(movie), remote: true do %>
    <% if movie.year.present? %>
      <%= movie.year %>
    <% else %>
      Add year
    <% end %>
  <% end %>
</div>    
