<div id="<%= dom_id(movie) %>_year_form">
  <%= form_with(model: movie, local: false) do |form| %>
    <div class="field">
      <%= form.label :year, for: "#{dom_id(movie)}_year" %>
      <%= form.text_field :year, id: "#{dom_id(movie)}_year" %>
    </div>
  <% end %>
</div>
